
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/fondo.jpeg) no-repeat center top;
    background-size: cover; font-family: sans-serif; height: 100vh; 
    background-color: rgb(118, 112, 112);
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a {
    color:white;
    text-decoration: none;
}

.container {
    width: 90px;
    margin: auto;
}

.nav-main {
    background-color: black;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    height: 200px;
    padding: 20px 10px;
    margin-bottom: 10px;
   /* position: relative;*/
    
}
.nav-main h1 {
    color: #FF3933;
    font-size: 40px;
}


.menu-right {
    left: 10;
    top: 200px;
    position:fixed;
    background-color:forestgreen;

    
}
#buscador >input {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: sans-serif;
    
}


.box {
   float: right;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    
    
    
        
}
input.src {
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #a50559;
    background: #fff url("search-icon.png")
        no-repeat 9px center;
    width: 60px;
    transition: all .5s;
    }

input.src:hover{
    width: 180px;
    background-color: #fff;
    border-color: #8c10b3;
    box-shadow: 0 0 5px #6dcff680;
    
}
.box> a:hover{
    text-decoration: none;
}


#hearder{
    margin: auto;
    width: 500px;
    font-family: sans-serif;
    position: absolute;
}

ul, ol{
    list-style:none;  
}
.nav{
        position: relative;
    top: 110px;
    left: 500px;
}


.nav li a{
    text-decoration: none;
    background-color: #000;
    color: 000;
    padding: 10px;
    display: block;
}
.nav> li {
    float:left; 
     font-size: 25px;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
   
}
.nav li a:hover{
    background-color: crimson;
}

.nav li:hover > ul{
    display: block;
    
}


/* area formulario */
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
    float: right;
    margin-right: 1.5em;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
span{
    color:red;
}
.controles {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
/* area formulario fin */













